common --repo_env=CC=clang
common --repo_env=CXX=clang++
common --repo_env=BAZEL_COMPILER=clang

build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# Selects the STM32F446 family for a firmware build, usage:
# bazel build --config=f446 //path/to:target
build:f446 --platforms=//platform/stm32f4/f446:platform
